body{

font-family: 'Titillium Web', sans-serif;

}
h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}

p{
  font-size: 18px;
  color: #999;
  line-height: 1.8;
  margin-bottom: 0;
}
.topmargin-xs {
  margin-top: 15px;
}
.topmargin-sm {
  margin-top: 30px;
}
.topmargin-lg {
  margin-top: 60px;
}

.btn{
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}
.btn-light{
  background-color: #fff;
  color: #1a1a1a;
  border: 2px solid #fff;
}

.navbar {

  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  min-height: 100px;
  position: inherit;

}

.nav-link {
  color: #1a1a1a;

}
.nav-link:hover{
  color: #1a1a1a;
}

.logo-brand {
  min-width: 40px;
  max-width:  60px;

}
.navbar-toggler {
  /*padding-top: 20px;
  padding-left: 350px;*/
  font-size: 40px;
}
.navbar-toggler:focus{
  outline: none;
}
.ion-md-menu:before{
 margin-left: 500%;
}
#hero {
  background-image: url('imagenes/hero.png');
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #fff;
}
#hero p{

  color: #fff;

}
.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;

}



@media only screen and (max-width: 600px) {...}


@media only screen and (min-width: 600px) {...}


@media only screen and (min-width: 768px) {...}


@media only screen and (min-width: 992px) {...}


@media only screen and (min-width: 1200px) {...}
