body{

font-family: 'Titillium Web', sans-serif;

}

.navbar {

  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  min-height: 100px;

}

.nav-link {
  color: #1a1a1a;

}
.nav-link:hover{
  color: #1a1a1a;
}

.logo-brand {
  min-width: 40px;
  max-width:  60px;
}
.navbar-toggler {
   font-size: 40px;
}
.navbar-toggler:focus{
  outline: none;
}
#hero {
  background-image: url('imagenes/hero.png');
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #fff;
}
